body {
	background: #3D3527;
	font-family: impact, arial, sans-serif;
}

div {
	width: 40vw;
	height: 40vw;

	padding: 16px;
	font-size: 12vw;
	color: #fff;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #db5600;
	border: solid #993d00 12px;
	border-radius: 50%;

	cursor: pointer;
	user-select: none;
}

div:active {
	background: #aa4c00;
}

div > p {
	text-align: center;
}
